<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="logs\api-internallog.log">

  <targets async="true">
    <target name="csvFile" xsi:type="File" fileName="logs/crm-${shortdate}.csv">
      <layout xsi:type="CSVLayout">
        <column name="DateTime" layout="${longdate}" />
        <column name="LogLevel" layout="${level}"/>
        <column name="Application" layout="${iis-site-name}"/>
        <column name="SessionKey" layout="${aspnet-request-headers:HeaderNames=session-key}" />
        <column name="UserId" layout="${aspnet-request-headers:HeaderNames=user-id}" />
        <column name="RequestUri" layout="${aspnet-request-method} ${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}" />
        <column name="Message" layout="${message}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="csvFile" />
  </rules>

</nlog>